In [1]:
a=20
b=40
if b>a:
     print("b is greater than a")

b is greater than a

In [2]:
a=20
b=40
if b<a:
     print("b is less than a")

In [3]:
a=20
b=40
if b>a:
     print("b is greater than a")
else:
    print("b is less than a")

b is greater than a

In [4]:
a=int(input("enter first number :"))
b=int(input("enter second number :"))
if a==b:
    print(" a and b are equal")
elif a>b:
    print("a is greater")
else:
    print('b is greater')

enter first number :45
enter second number :56
b is greater

In [5]:
a=float(input("enter first number :"))
b=float(input("enter second number :"))
if a==b:
    print(" a and b are equal")
elif a>b:
    print("a is greater")
else:
    print('b is greater')

enter first number :6.8
enter second number :7.7
b is greater

In [7]:
num=int(input('enter num'))
if (num%2==0):
    print('num is even')
else:
    print('num is odd')

enter num34
num is even

In [ ]:
var1= 8
var2 =3
if(var1 and var2)>0:
    print('positive')
elif(var1/var2)>1:
    print('var1 > var2')

In [8]:
bool(10)

True

In [ ]:
a=eval(input("Enter first number: "))

if(a<58):
    if(a<=21):
        print("You are not eligible for working")
    else:
        print("You are eligible for working")
else:
    print("You are retired")

In [ ]:
Mark=int(input ('enter your mark'))
if Mark>=30:
     if Mark==30:
         print('just pass')
     else:
         print(' pass with good marks')
else:
    print('fail')

In [16]:
temp=float(input("enter temp :"))
if temp==20 or temp<=20:
    print("coolest weather")
elif (temp==30)>=20 or (temp==30)>20:
    print("cool weather")
else:
        print("warm weather")

enter temp :20
coolest weather

In [15]:
fruits=["Apple","Mango","Cherries","Banana"]
for x in fruits:
    print(x)

Apple
Mango
Cherries
Banana

In [9]:
for x in "Premalatha":
    print(x)

P
r
e
m
a
l
a
t
h
a

In [17]:
fruits=["Apple","Mango","Cherries","Banana"]
for x in fruits:
    print(x)
    if x=="Cherries":
        break

Apple
Mango
Cherries

In [18]:
fruits=["Apple","Mango","Cherries","Banana"]
for x in fruits:
    print(x)
    if x=="Cherries":
        break
        print(x)

Apple
Mango
Cherries

In [19]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [20]:
for  x in range (3,7):
    print (x)

3
4
5
6

In [35]:
for x in "pratyush":
    print(x)
    if x=='t':
        break
        print(x)

p
r
a
t

In [32]:
for x in nam:
    if x=="t":
        break
    print(x)

p
r
a

In [33]:
for x in nam:
    if x=="t":
        continue
    print(x)

p
r
a
y
u
s
h

In [36]:
students = ["Paul", "Erin", "Connie", "Moira"]

for student in range(0, len(students)):
    if student == 2:
        break
    else:
        print(students[student])

    print("Counter is " + str(student))

Paul
Counter is 0
Erin
Counter is 1

In [37]:
str(student)

'2'

In [38]:
days=['mon','tue','wed','thur','fri','sat','sun']
for x in days:
    if x =='fri':
       break
    print(x)

mon
tue
wed
thur

In [39]:
num=15
addition=0
i=1
while i<=num:
    addition=addition+i
    i=i+1
print("Addition is:",addition)

Addition is: 120

In [43]:
sum=0
for x in range(1,16):
    sum=sum+x
print(sum)

120

In [44]:
text="dataScience"
for letter in text:
    if letter=="e":
        break
    print(letter)
print("The for loop stopped executing")

d
a
t
a
S
c
i
The for loop stopped executing

In [45]:
text="dataScience"
for letter in text:
    if letter=="e":
        print("The loop leave a space here")
        continue
    print(letter)

d
a
t
a
S
c
i
The loop leave a space here
n
c
The loop leave a space here

In [46]:
levels=int(input("Enter number of levels:"))
for level in range(1,levels+1):
    for num in range(level):
        print(level,end=" ")
        
    print("\n")

Enter number of levels:5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [50]:
rows=int(input("enter nom of rows:"))
for rows in range(1,rows+1):
    for i in range(rows): 
        print(i,end=" ")
    print("\n")

enter nom of rows:5
0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [52]:
rows=int(input("enter nom of rows:"))
for rows in range(1,rows+1):
    for i in range(rows): 
        print(rows+i,end=" ")
    print("\n")

enter nom of rows:5
1

2 3

3 4 5

4 5 6 7

5 6 7 8 9

In [53]:
rows=int(input("enter nom of rows:"))
for rows in range(1,rows+1):
    for i in range(rows): 
        print("*",end=" ")
    print("\n")

enter nom of rows:6
*

* *

* * *

* * * *

* * * * *

* * * * * *

In [55]:
num=0
i=6
while i>=num:
    print("*",end=" ")
    i=i-1
    print("\n")

*

*

*

*

*

*

*