In [1]:
list=[]

In [2]:
list.append([2,3])

In [3]:
list

[[2, 3]]

In [4]:
list.append(["ram","radhe"])

In [5]:
list

[[2, 3], ['ram', 'radhe']]

In [6]:
print(list)

[[2, 3], ['ram', 'radhe']]

In [7]:
print("Hello World ,RAdheRAdhe")

Hello World ,RAdheRAdhe

In [8]:
a=int(input())
b=int(input())
sum=a+b
print(sum)

4
5
9

In [9]:
a=input()
b=input()
sum=a+b
print(sum,'')

7
8
78

In [10]:
num=float(input())
sqrt=num**0.5
print(sqrt)

8
2.8284271247461903

In [ ]:
a=float(input())
b=float(input())

c=float(input())
if(a+b>c and b+c>a and a+c>b):
    s=(a+b+c)/2
    a=(s*(s-a)*(s-b)*(s-c))**0.5
    print(a)
else:
    print('not a triangle')

In [12]:
a=int(input())
b=int(input())
print(a,b)
c=a
a=b
b=c
print('swapped',a,b)

6
8
6 8
swapped 8 6

In [1]:
km=float(input())
f=0.6231
miles=(f*km)

print(miles,"miles")

9
5.6079 miles

In [21]:
n1=int(input())
n2=int(input())

for i in range(n1,n2+1):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

5
10
5
7

In [20]:
num=int(input())
count=0
if(num==0 or num==1):
    print('no')
else:
    for i in range(2,num):
        
        if(num%i==0):
            print('no')
            break
    else:
        print('yes')

17
yes

In [23]:
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+i**3
print(sum)

5
225

In [24]:
125+36+64

225

In [29]:
list=[]
n=int(input())
for i in range(1,n):
    list.append(i)
print(list)
t=list[]
list[n-1]=list[0]
list[0]=t
print(list)

7
[1, 2, 3, 4, 5, 6]

IndexError: list index out of range

In [27]:
t=list[n]
list[n]=list[0]
list[0]=t
print(list)

IndexError: list index out of range